<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>萝卜桃子配置</title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link rel="shortcut icon" href="favicon.ico"> 
    <link rel="stylesheet" th:href="@{/static/sys/layui-v2.5.6/layui/css/layui.css}" />
    <style type="text/css">
    	input::-webkit-outer-spin-button,
	    input::-webkit-inner-spin-button {
	        -webkit-appearance: none;
	    }
	    input[type="number"]{
	        -moz-appearance: textfield;
	    }
    </style>
</head>

<body>
	<div class="layui-form" style="width: 90%; margin-top: 31px;"
		lay-filter="showForm">
		<div class="layui-form-item">
		    <label class="layui-form-label">活动状态</label>
		    <div class="layui-input-block">
		      <input type="checkbox" name="state" lay-skin="switch" lay-filter="state">
		    </div>
  		</div>
  		<div class="layui-form-item">
		    <label class="layui-form-label">活动时间</label>
		    <div class="layui-input-block">
		    	<input readonly="readonly" type="text" class="layui-input" style="width:150px" id="time" name="time" placeholder="点击打开时间选择"/>
		    </div>
  		</div>
  		<div class="layui-form-item">
		    <label class="layui-form-label">猎人数量</label>
		    <div class="layui-input-block">
		    	<input type="number" name="lierenCount" class="layui-input">
		    </div>
  		</div>
  		<div class="layui-form-item">
		    <label class="layui-form-label">桃树数量</label>
		    <div class="layui-input-block">
		    	<input type="number" name="npcCount" class="layui-input">
		    </div>
  		</div>
  		<div class="layui-form-item">
		    <label class="layui-form-label">桃子奖励</label>
		    <div class="layui-input-block">
		    	<input type="number" name="taozi" class="layui-input">
		    	<div class="layui-form-mid layui-word-aux">桃子奖励数值:道行(360=1年)</div>
		    </div>
  		</div>
  		
  		<div class="layui-form-item">
		    <label class="layui-form-label">萝卜奖励</label>
		    <div class="layui-input-block">
		    	<input type="number" name="luobo" class="layui-input">
		    	<div class="layui-form-mid layui-word-aux">萝卜奖励数值:经验</div>
		    </div>
  		</div>
  		
  		<div class="layui-form-item">
		    <label class="layui-form-label">活动星期</label>
		    <div class="layui-input-block">
		    	<input type="text" name="week" class="layui-input" autocomplete="off">
		    </div>
  		</div>
  		
  		<div class="layui-form-item">
		    <label class="layui-form-label">排名奖励</label>
		    <div class="layui-input-block">
		    	<input type="text" name="rankReward" class="layui-input" autocomplete="off" value="">
		    	<div class="layui-form-mid layui-word-aux">奖励惩罚上全部它都适用，也可以自己添加:每个奖励请用,分隔。示例：七杀试炼:桃子将军,攻城BOSS:萝卜王子，冒号后的表示称号可填可不填，不填的话就直接:七杀试炼,攻城BOSS，这些都是已经定义好的，如果不满意就自己去新增奖励惩罚填上名字即可，乱填无效</div>
		    </div>
  		</div>
		
		<div class="layui-form-item">
			<a class="layui-btn layui-btn-danger layui-btn" style="margin-left: 109px;" id="save">保存</a>
		</div>
		</div>
		<script th:src="@{/static/sys/js/jquery.min.js?v=2.1.4}"></script>
		<script th:src="@{/static/sys/layui-v2.5.6/layui/layui.js}"></script>
		<script th:src="@{/static/sys/js/layer.table.exapnd.js}"></script>
		<script th:src="@{/static/sys/js/public.js}"></script>
		<script th:line="javascript">
		var path = '[[${session.path}]]';
		var layer;
		var table;
		var params;
		var util;
		var mapId;
		layui.use(['layer','table','form','util', "laydate"], function(){
			util = layui.util;
		  	layer = layui.layer;
		  	table = layui.table;
		  	form = layui.form;
		  	var laydate = layui.laydate;
		  	//加载信息
		  	$.post(path+"/ws/configInfo/getConfigInfoDataByUUID",{"uuid":"taozi_luobo"},function(data){
		  		if(data.status == 200) {
		  			var config = data.data;
		  			var json = JSON.parse(config.data);
		  			form.val("showForm",{
		  				"state":json.state,
		  				"week":json.week,
		  				"lierenCount":json.lierenCount,
		  				"npcCount":json.npcCount,
		  				"taozi":json.taozi,
		  				"luobo":json.luobo,
		  				"time":json.time,
		  				"rankReward":json.rankReward
		  			});
		  			laydate.render({
						elem: '#time',
						type: 'time',
						format: "HH:mm",
						range: "~"
					});
		  		}
		  	})
		  	$(document).keydown(function(e) {
			    var key = undefined;
			    var possible = [ e.key, e.keyIdentifier, e.keyCode, e.which ];
			    while (key === undefined && possible.length > 0) {
			        key = possible.pop();
			    }
			    if (key && (key == '115' || key == '83' ) && (e.ctrlKey || e.metaKey) && !(e.altKey)){
			        e.preventDefault();
			        save();
			        return false;
			    }
			    return true;
			}); 
			$(document).on("click","#save",function(){
				save();
		  	})
		  	function save(){
				var da = form.val("showForm");
				if(da.state == "on") {
					da.state = 1;
				}else {
					da.state = 0;
				}
				var obj = {"data":JSON.stringify(da),"uuid":"taozi_luobo"};
		  		var load = $.load("正在保存...");
				$.post(path+"/ws/configInfo/updateConfigInfoByUUID2",obj,function(data){
					if(data.status == 200) {
						layer.msg("保存成功");
					}else {
	  					layer.msg(data.retmsg);
	  				}
                	layer.close(load);	
				})
			}
			form.on('switch(state)', function(data){
				save();
			});
		});
	</script>
</body>

</html>