<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fengshen.db.dao.RareShopItemMapper">
  <resultMap id="BaseResultMap" type="com.fengshen.db.domain.RareShopItem">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="barcode" jdbcType="VARCHAR" property="barcode" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="cost" jdbcType="INTEGER" property="cost" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, barcode, name, cost, num, add_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from rare_shop_item
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from rare_shop_item
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fengshen.db.domain.RareShopItem">
    insert into rare_shop_item (id, barcode, name, 
      cost, num, add_time
      )
    values (#{id,jdbcType=INTEGER}, #{barcode,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{cost,jdbcType=INTEGER}, #{num,jdbcType=INTEGER}, #{addTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fengshen.db.domain.RareShopItem">
    insert into rare_shop_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="barcode != null">
        barcode,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="cost != null">
        cost,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="barcode != null">
        #{barcode,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="cost != null">
        #{cost,jdbcType=INTEGER},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fengshen.db.domain.RareShopItem">
    update rare_shop_item
    <set>
      <if test="barcode != null">
        barcode = #{barcode,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="cost != null">
        cost = #{cost,jdbcType=INTEGER},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fengshen.db.domain.RareShopItem">
    update rare_shop_item
    set barcode = #{barcode,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      cost = #{cost,jdbcType=INTEGER},
      num = #{num,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>