<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fengshen.db.dao.CharaPackMapper">
  <resultMap id="BaseResultMap" type="com.fengshen.db.domain.CharaPack">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pos" jdbcType="INTEGER" property="pos" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.fengshen.db.domain.CharaPack">
    <result column="goods_info" jdbcType="LONGVARCHAR" property="goodsInfo" />
    <result column="goods_basics" jdbcType="LONGVARCHAR" property="goodsBasics" />
    <result column="goods_lan_se" jdbcType="LONGVARCHAR" property="goodsLanSe" />
    <result column="goods_fen_se" jdbcType="LONGVARCHAR" property="goodsFenSe" />
    <result column="goods_huang_se" jdbcType="LONGVARCHAR" property="goodsHuangSe" />
    <result column="goods_lv_se" jdbcType="LONGVARCHAR" property="goodsLvSe" />
    <result column="goods_gai_zao" jdbcType="LONGVARCHAR" property="goodsGaiZao" />
    <result column="goods_gai_zao_gong_ming" jdbcType="LONGVARCHAR" property="goodsGaiZaoGongMing" />
    <result column="goods_gai_zao_gong_ming_cheng_gong" jdbcType="LONGVARCHAR" property="goodsGaiZaoGongMingChengGong" />
    <result column="goods_lv_se_gong_ming" jdbcType="LONGVARCHAR" property="goodsLvSeGongMing" />
    <result column="goods_hun_qi" jdbcType="LONGVARCHAR" property="goodsHunQi" />
  </resultMap>
</mapper>