<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fengshen.db.dao.RenwuMapper">
  <resultMap id="BaseResultMap" type="com.fengshen.db.domain.Renwu">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uncontent" jdbcType="VARCHAR" property="uncontent" />
    <result column="npc_name" jdbcType="VARCHAR" property="npcName" />
    <result column="current_task" jdbcType="VARCHAR" property="currentTask" />
    <result column="show_name" jdbcType="VARCHAR" property="showName" />
    <result column="task_prompt" jdbcType="VARCHAR" property="taskPrompt" />
    <result column="reward" jdbcType="VARCHAR" property="reward" />
    <result column="show_reward" jdbcType="VARCHAR" property="showReward" />
    <result column="task_desc" jdbcType="VARCHAR" property="taskDesc" />
    <result column="attrib" jdbcType="INTEGER" property="attrib" />
    <result column="task_end_time" jdbcType="INTEGER" property="taskEndTime" />
    <result column="task_state" jdbcType="VARCHAR" property="taskState" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uncontent, npc_name, current_task, show_name, task_prompt, reward, show_reward, 
    task_desc, attrib, task_end_time, task_state, add_time, update_time, deleted
  </sql>
</mapper>