<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>定时公告</title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link rel="shortcut icon" href="favicon.ico"> 
	<link th:href="@{/static/sys/css/bootstrap.min.css?v=3.3.5}" rel="stylesheet">
<link th:href="@{/static/sys/css/plugins/sweetalert/sweetalert.css}" rel="stylesheet">
<link th:href="@{/static/sys/css/font-awesome.min.css?v=4.4.0}" rel="stylesheet">
<link th:href="@{/static/sys/css/animate.min.css}" rel="stylesheet">
<link th:href="@{/static/sys/css/style.min.css?v=4.0.0}" rel="stylesheet">
<link th:href="@{/static/sys/layui-v2.5.6/layui/css/layui.css}" rel="stylesheet" />
<link rel="stylesheet" th:href="@{/static/sys/css/global.css}">

     <style>
    	.openMaxImg:hover{
   		    box-shadow: 0px 0px 4px 1px #4e4e4e;
   		    cursor: pointer;
    	}
		/* 鼠标指向表格时,奇数行背景颜色 */
		.layui-table tbody tr:hover,.layui-table-hover {
		    background-color: #eeffee;
		}
		/* 表格头部工具栏背景色 */
		.layui-table-tool {
		    background-color: #eeffee;
		}
		.news_search{
			font-size:14px;
		}
		.layui-form-label{
			padding: 9px 0;
		    left: 18px;
		    color: black;
		    font-size: 15px;
		    top: 1px;
	        width: 35px;
		}
		.layui-form-select {
		    max-width:12.5rem;
		}
		input::-webkit-outer-spin-button,
	    input::-webkit-inner-spin-button {
	        -webkit-appearance: none;
	    }
	    input[type="number"]{
	        -moz-appearance: textfield;
	    }
    </style>
</head>

<body>
	<div class="wrapper wrapper-content animated fadeInRight">
		<!-- Panel Other -->
		<div class="ibox float-e-margins">
			<div class="row row-lg">
				<div class="col-sm-12">
					<!-- Example Events -->
					<div class="example">
						<blockquote class="layui-elem-quote news_search">
						<div class="layui-inline">
							<button type="button" class="layui-btn addMsg">
							  <i class="layui-icon">&#xe608;</i> 添加
							</button>
						</div>
						</blockquote>
						<table id="table" lay-filter="test">
							
						</table>
					</div>
					<!-- End Example Events -->
				</div>
			</div>
		</div>
		<!-- End Panel Other -->
	</div>

		<script th:src="@{/static/sys/js/jquery.min.js?v=2.1.4}"></script>
	<script th:src="@{/static/sys/js/bootstrap.min.js?v=3.3.5}"></script>
	<script th:src="@{/static/sys/js/content.min.js}"></script>
	<script th:src="@{/static/sys/layui-v2.5.6/layui/layui.js}"></script>
	<script th:src="@{/static/sys/js/plugins/sweetalert/sweetalert.min.js}"></script>
	<script th:src="@{/static/sys/js/layer.table.exapnd.js}"></script>
	<script th:src="@{/static/sys/js/public.js}"></script>
	
		<script th:line="javascript">
		var path2 = '[[${session.path}]]';
		var layer;
		var table;
		var params;
		var util;
		var mapId;
		var path = path2+"/system"
		
		layui.use(['layer','table','form','util'], function(){
			util = layui.util;
		  	layer = layui.layer;
		  	table = layui.table;
		  	form = layui.form;
		  	var cols =  [
				{
					title: 'id',
					field: 'id',
					width:50
				}, 
				{
					title: '公告内容',
					field: 'message',
					edit:"text"
				},
				{
					title: '时间(分)',
					field: 'time',
					width:100,
					edit:"text"
				},
				{
					title: '创建时间',
					width:130,
					templet: function(value) {
						if(value.addTime != undefined){
							return util.toDateString(value.addTime,"yyyy-MM-dd");
						}else {
							return "";
						}
					}
				}
			];
		  	var pageNum = 1;
		  	params = $.myRendar({"table":table,"elem":"#table","url":path+"/getTimerPubliMssage","method":"post","cols":cols,toolbar:false,width:150,page:false,
				width:150,templet:function(data){
					var html = '<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="update" data-id="'+data.id+'">修改</a>';
					html+='<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" data-id="'+data.id+'">删除</a>';
					return html;
				}
		  	});
		  	table.on('tool(test)', function(obj){
			  	var data = obj.data;
			  	var layEvent = obj.event;
			  	var t = $(this);
			  	var obj = {};
		 		if(layEvent == "del") {
					  layer.confirm('删除',function(){
						  $.post(path+"/delNotice",{"id":data.id},function(data){
							  	if(data.status == 200) {
					  				layer.msg("删除成功");
					  				table.render(params.options)
						  			layer.closeAll();
					  			}else {
					  				layer.msg(data.retmsg);
					  			}
						  })
					  })
				  }else if(layEvent == "update") {
					  var html = '<div class="layui-form" style="width:90%;margin-top:31px;" lay-filter="noticeForm">';
						html += '<div class="layui-form-item"> <label class="layui-form-label">时间(分)</label> <div class="layui-input-block"> <input type="number" name="time" class="layui-input" value="'+data.time+'"> <input type="hidden" name="id" class="layui-input" value="'+data.id+'"></div></div>';
						html += '<div class="layui-form-item"> <label class="layui-form-label">内容</label> <div class="layui-input-block"> <textarea type="text" name="message" class="layui-textarea" style="height:500px">'+data.message+'</textarea> </div></div>';
						html += '<div class="layui-form-item"><a class="layui-btn layui-btn-danger layui-btn" lay-submit style="margin-left: 109px;" id="upNotice">保存</a></div>'
						html += '</div>';
						layer.open({
							title: false,
							area: ["95%","95%"],
							type: 1,
							shadeClose:true,
							content: html
						});
						
				  }
			});
		  	
		  	$(document).on("click",".addMsg",function(){
		  		var t = $(this);
		  		var html = '<div class="layui-form" style="width:90%;margin-top:31px;" lay-filter="addNoticeForm">';
				html += '<div class="layui-form-item"> <label class="layui-form-label">时间(分)</label> <div class="layui-input-block"> <input type="number" name="time" class="layui-input"> </div></div>';
				html += '<div class="layui-form-item"> <label class="layui-form-label">内容</label> <div class="layui-input-block"> <textarea type="text" name="message" class="layui-textarea" style="height:500px" id="npcStatueData"> </textarea> </div></div>';
				html += '<div class="layui-form-item"><a class="layui-btn layui-btn-danger layui-btn" lay-submit style="margin-left: 109px;" id="addNotice">保存</a></div>'
				html += '</div>';
				layer.open({
					title: false,
					area: ["95%","95%"],
					type: 1,
					shadeClose:true,
					content: html,
					success: function() {
						
					}
				});
		  	})
		  	$(document).on("click","#addNotice",function(){
		  		var f = form.val("addNoticeForm");
		  		$.load();
		  		$.post(path+"/addNotice",f,function(data){
		  			if(data.status == 200) {
		  				layer.msg("修改成功");
		  				table.render(params.options)
			  			layer.closeAll();
		  			}else {
		  				layer.msg(data.retmsg);
		  			}
		  		})
		  	})
		  	$(document).on("click","#upNotice",function(){
		  		var f = form.val("noticeForm");
		  		$.load();
		  		$.post(path+"/updateNotice",f,function(data){
		  			if(data.status == 200) {
		  				layer.msg("添加成功");
		  				table.render(params.options)
		  			}else {
		  				layer.msg(data.retmsg);
		  			}
		  			layer.closeAll();
		  		})
		  	})
		  	//查询
		  	$("#query").click(function(data){
				var name = $(".search_btn").val();
				if(name.trim() != "" && name.length > 0) {
					params.options.where = {"partyName":name};
				}else {
					params.options.where = {};
				}
				table.render(params.options);
			})
		});
	</script>
</body>

</html>